{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=idge">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <section id="header">
    <div class="top container">
      <a href="{% url 'lenivastore:product_list' %}?next={{request.path}}">
        Lenivastore
      </a>
    </div>
    <div>
      <a href="{% url 'lenivastore:product_list' %}?next={{request.path}}">
        Главная
      </a>
      <a href="{% url 'lenivastore:about_project' %}?next={{request.path}}">
        О проекте
      </a>
    </div>
    <div>
      <form class="form-inline my-2 my-lg-0"
            action="{% url 'lenivastore:product_list' %}">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <div class="top-bl">
      <div class="container">
        <div class="cart">
          {% with total_items=cart|length %}
            {% if cart|length > 0 %}
              Ваша корзина:
              <a href="{% url 'cart:cart_detail' %}">
                <!-- Избавиться от cart.get_total_price что бы не считалась
                ПОСТОЯННО сумма? -->
                {{ total_items }} тов. {{ cart.get_total_price }} руб.
              </a>
            {% else %}
              Корзина пустая
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% if user.is_authenticated %}
        <li>Пользователь: {{ user.get_username }}</li>
        <li>
          <a href="{% url 'users:profile' %}?next={{request.path}}">
            Профиль
          </a>
        </li>
        <li><a href="{% url 'logout' %}?next={{request.path}}">Выход</a></li>
      {% else %}
        <li><a href="{% url 'login' %}?next={{request.path}}">Войти</a></li>
        <li>
          <a href="{% url 'users:register' %}?next={{request.path}}">
            Регистрация
          </a>
        </li>
      {% endif %}
    </div>
  </section>
  <section id="content row" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>
