{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Ваша корзина товаров
{% endblock %}

{% block content %}
  {% if cart.get_total_price_after_discount %}
    <h2 class="control_group">Ваша корзина товаров</h2>
    <table class="cart">
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Продукт</th>
          <th>Количество</th>
          <th>Удалить</th>
          <th>Полная цена</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.image.url }}"
                       style="max-width: 200px; height: 200px; alt="" />
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post"
                      class="add">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  {% csrf_token %}
                  <input type="submit" value="&#x267b;">
                </form>
              </td>
              <td>
                <a href="{% url 'cart:cart_remove' product.id %}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
              <td class="num">{{ item.price }} руб.</td>
              <td class="num">{{ item.total_price }} руб.</td>
            </tr>
          {% endwith %}
        {% endfor %}
        {% if cart.cupon and cart.cupon.active and cart.cupon.valid_to %}
          <tr class="subtotal">
            <td>Сумма без скидки</td>
            <td colspan="4"></td>
            <td>{{ cart.get_total_price }}</td>
          </tr>
          <tr>
            <td>
              "{{ cart.cupon.code }}" купон на ({{ cart.cupon.discount }} % ниже)
            </td>
            <td colspan="4"></td>
            <td class="num discount">
              - {{ cart.get_discount|floatformat:"2" }} руб.
            </td>
          </tr>
        {% endif %}
        <tr class="total">
          <td>Всего</td>
          <td colspan="4"></td>
          <td class="num">
            {{ cart.get_total_price_after_discount|floatformat:"2" }} руб.
          </td>
        </tr>
      </tbody>
    </table>
    <input type="checkbox" id="cupon_hide" class="hide_button"/>
    <label class="button_base" for="cupon_hide" >Применить купон</label>
    <div class="content-section cupon_section">
      <form action="{% url 'cupon:apply' %}" method="post" class="add">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Купон</legend>
  <!--        {{ cupon_apply_form|join:"" }}-->
          {{ cupon_apply_form|crispy }}
        </fieldset>
        <div class="form-group button_section">
          <input class="button_base blue_button" type="submit" value="Применить">
        </div>
      </form>
    </div>
  {% else %}
    <h2>Ваша корзина пуста</h2>
  {% endif %}
  <div class="content-section">
    <div class="wrapper_cart_buttons">
      <a href="{% url 'lenivastore:product_list'%}" class="button_base blue_button">
        Продолжить Шопинг
      </a>
      {% if cart.get_total_price %}
        <a href="{% url 'orders:order_create' %}" class="button_base blue_button">
          Оформить заказ
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
