{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
  <div class="content-section">
    <h2 class="control_group">Оформление заказа</h2>
    <form action="." method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend>Заполните форму</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group button_section">
        <input class="button_base blue_button" type="submit" value="Подтвердить">
      </div>
    </form>

    <div class="control_group">
      <h2>Ваш заказ</h2>
      <ul class="products_margin">
        {% for item in cart  %}
          <li>
            {{ item.product.name }} | Количество: {{ item.quantity }} | Цена:
            {{ item.total_price }}
          </li>
        {% endfor %}
        {% if cart.cupon %}
          <li>
            Сумма без скидки:
            <span>  {{ cart.get_total_price }}руб.</span>
          </li>
          <li>
            "{{ cart.cupon.code }}" (на {{ cart.cupon.discount }}% меньше)
            <span> - {{ cart.get_discount|floatformat:"2"}} руб.</span>
          </li>
        {% endif %}
      </ul>
      <p>
        <strong>Всего:</strong>
        {{ cart.get_total_price_after_discount|floatformat:"2"}} руб.
      </p>
    </div>
  </div>
{% endblock %}
