{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Авторизация</legend>
    {{ form|crispy }}
  </fieldset>
  <div class="form-group">
    <input class="btn btn-outline-info" type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="border-top pt-3">
  <small class="text-muted">
    <a href="{% url 'password_reset' %}" class="ml-2">Забыли пароль?</a>
    Или нужен аккаунт?
    <a href="{% url 'users:register' %}" class="ml-2">Зарегистрироваться</a>
  </small>
</div>

{% endblock %}
