{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend>Авторизация</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group button_section">
        <input class="button_base blue_button" type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    <div class="req_login_section">
      <small class="text-muted">
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        Или нужен аккаунт?
        <a href="{% url 'users:register' %}" class="ml">Зарегистрироваться</a>
      </small>
    </div>
  </div>
{% endblock %}
