{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    {% if validlink %}
      <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Пожалуйста введите ваш новый пароль</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group button_section">
          <input class="button_base blue_button" type="submit" value="Сменить мой пароль" />
        </div>
      </form>
    {% else %}
    <fieldset class="form-group">
      <legend><h3>Не удачная попытка восстановления пароля</h3></legend>
      <p>
        Ссылка для восстановления пароля не недействительна, возможно, потому
        что она уже была использована. Пожалуйста, запросите новое
        восстановление пароля.
      </p>
    </fieldset>
    {% endif %}
  </div>
{% endblock %}