{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend>Введите почту пользователя</legend>
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
      <p>{{ form|crispy }}</p>
    </fieldset>
    <div class="form-group button_section">
      <input type="submit" class="button_base blue_button"
             value="Сбросить пароль" />
    </div>
  </form>
</div>
{% endblock %}
