{% extends "lenivastore/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <legend class="border-bottom mb-4">Информация о профиле</legend>
    <div class="media">
      <img class="account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <p class="text-secondary">{{ user.first_name }}</p>
        <p class="text-secondary">{{ user.last_name }}</p>
        <p class="text-secondary">{{ user.profile.phone }}</p>
      </div>
    </div>
    <div>
      <a href="{% url 'users:page_ordered_goods' %}">Страница заказов</a>
    </div>
    <div>
      <a href="{% url 'users:change_phone_or_image' %}">
        Добавьте или измените номер телефона и изображение профиля
      </a>
    </div>
  </div>
{% endblock content %}
