{% extends "lenivastore/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form.as_p }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>
    <table>
      <h2>Заказанные товары</h2>
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Название товара</th>
          <th>Количество</th>
          <th>Дата заказа</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          {% for item in order.items.all %}
            <tr class="row{% cycle '1' '2' %}">
              <td>
                <a href="{{ item.product.get_absolute_url }}">
                  <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/no-image.jpeg'%}{% endif %}" style="max-width: 100px; height: 100px;" class="img-responsive">
                </a>
              </td>
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.order.created }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
