{% extends 'lenivastore/base.html' %}

{% load static %}

{% block title %}
  About project
{% endblock %}

{% block content %}
  <div class="about_page">
    <h3 class="page_title">Об этом проекте</h3>
    <h4>
      Проект не является коммерческим (тоесть не оказывает услуг по продаже
      товаров), создан для освоения технологий разработки web-приложений.
    </h4>
    <div>
      <p>
        Проект является интеренет-магазином, предоставляющим товары. В данном
        случае электронику.
      </p>
      <p>
        Можно выбирать товары, добавлять в корзину, применять
        купоны на скидки, оформлять заказ. Оплата отключенна. После заказа
        присылается сообщение по электронной почте, с деталями заказа, а так же
        PDF файл. Реализованна регистрация и авторизация, профиль пользователя с
        возможностью просмотра заказов и изменением аватара пользователя.
      </p>
    </div>
    <div>
      <ul>
        <li>Проект создавался с помощью веб-фреймворка Django 2 (Python).</li>
        <li>
          Взаимодействие с базой данных осуществляется посредством механизма
          объектно-ориентированного отображения Django ORM.
        </li>
        <li>
          В качестве СУБД была использованна свободная объектно-реляционная СУБД
          PostgreSQL.
        </li>
        <li>
          Клиентская сторона пользовательского интерфейса написанна на HTML/CSS
          с использованием Flexbox и Grid CSS (Сайт адаптивный).
        </li>
        <li>
          На javascript написан всего один не большой скрипт.
        </li>
        <li>
          Система контроля версий Git.
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
